body{
    padding:200px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,34,47,1) 35%, rgba(0,212,255,1) 100%);
}
h1{
   
    text-transform: uppercase;
	text-align: center;
    letter-spacing: 0.4em;
    
	font-size: 36px;    
	line-height: 40px;
	
	color: #e3e5e7;
	
}
h2{
    font-size: small;
    
    color: #e3e5e7;
    
}
